/*syntax of CSS*/
h1{
    background-color: rgb(95, 232, 232);
    color: darkgreen;
    font-size: larger;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

 /* salut, sunt un comentariu*/

 